#actions-container {
    display: flex;
    justify-content: center;
}

#actions-container button {
    background-color: rgba(229, 91, 43, 1);
    color: #141518;
    margin: 20px;
    margin-top: 270px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    width: 50px;
    text-align: center;

    position: relative;
    z-index: 5;
    font-size: 20px;

    background: linear-gradient(
        45deg,
        rgba(242, 130, 91, 1),
        rgba(229, 91, 43, 1)
    );
    box-shadow: 0px 0px 10px #08080a, 0px 0px 10px #202226;
}
